<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h2>Add New Chat...</h2>
    <form method="post" action="/chats">
        <input placeholder="who are you?" type="text" name="from"><br><br>
        <textarea name="msg" rows="10">Write your message here...</textarea><br><br>
        <input placeholder="add receiver" type="text" name="to"><br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>