<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a Home Page 1+2 </h1>
    <!-- Written in ejs tag. dynamic HTML -->
    <h3> <%= 1+2 %> </h3> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla blanditiis, distinctio, itaque ratione quae doloremque reiciendis laudantium hic ex soluta alias pariatur illo cum, repellendus esse tempora tempore voluptatum veritatis vitae perspiciatis doloribus. Distinctio corporis exercitationem reprehenderit pariatur velit temporibus ipsa officiis ex odit assumenda minima atque, sequi quas aut?</p>
    <button>Click Me</button>
</body>
</html>